@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .team-container,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  nav li {
    margin-right: 18px;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-content,
  .facts {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  .card {
    margin-bottom: 1.25rem;
    padding: 1.25rem 0rem;
  }
  .facts-card-container {
    margin-top: 3.125rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 960px) {
  header {
    padding: 3.125rem;
  }
  nav,
  .team-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  .facts {
    padding: 3.125rem;
  }
  .card {
    width: 150px;
    padding: 10px;
  }
}
