@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .team-container,
  .facts-card-container,
  .sponsors-img-container,.features {
    flex-direction: column;
  }
  nav li {
    margin-right: 18px;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-content,
  .facts {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  .card {
    margin-bottom: 1.25rem;
    padding: 1.25rem 0rem;
  }
  .facts-card-container {
    margin-top: 3.125rem;
  }
  .feature-img img{
    width: 90%;
    margin-left: 20px;
  }
  .ten-years-exp {
    position: static;
    width:280px;
    margin-left: 17px;
  }
  footer div{
    width: auto;
    margin: 0;
    padding: 0;
  }
  footer p{
    padding: 30px;
  }
}

@media screen and (min-width: 577px) and (max-width: 960px) {
  header {
    padding: 3.125rem;
  }
  nav,
  .team-container,
  .sponsors-img-container,.features {
    flex-direction: column;
  }
  .facts {
    padding: 3.125rem;
  }
  .card {
    width: 150px;
    padding: 10px;
  }
  .ten-years-exp {
    width:280px;
    margin-left: 17px;
  }
  footer div{
    width: auto;
    margin: 0;
    padding: 0;
  }
  footer p{
    padding: 30px;
  }
}
